---
---

@import "normalise";
@import 'base';

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: $dark-grey;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.hero-banner {
  img {
    margin-top: -100px;
    width: 100%;
  }
}

.container {
  @include container;
  padding: 0 20px;
}

.content {
  @include span(10);
  @include squish(1);
}

@import 'animations';
@import 'header';
@import 'footer';
@import 'nav';
@import 'card';
