.card {
  &:hover, 
  &:focus {
    @include hover-effect;
  }

  div {
    background: #777;
    color: #f2f2f2;
    margin-top: 25px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 12.5px 6.25px;
  }

  img {
    width: 100%;
  }
}

@include susy-breakpoint(600px) {
  .card { @include gallery(6 of 12); }
}

@include susy-breakpoint(720px) {
  .card { @include gallery(4 of 12); }
}

.gallery {
  &:after {
    display: block;
    content: "";
    clear:both
  }
}
